* {
  background-color: #152241;
}

.page {
  width: 1200px;
  margin: 0 auto;
}

body {
  color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 28px;
  margin-top: 60px;
  font-weight: normal;
}

p {
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: lighter;
}

li {
  font-size: 20px;
  font-weight: lighter;
}

.introduction {
  font-size: 24px;
  font-weight: lighter;
}

img {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  top: 0;
  float: right;
}

a {
  display: block;
  padding: 8px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
}

nav {
  margin-top: 20px;
}

.stages {
  float: left;
}

.design {
  width: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 10px;
}
